## Final Project Submission

Please fill out:
* Student name: HARRIET NGOMO
* Student pace:part time 
* Scheduled project review date/time: 
* Instructor name: DIANA MONGINA
* Blog post URL:

# **Aviation Risk Analysis for Business Expansion** 

## **1. Introduction**
### **1.1 Project Overview**  
As our company expands into the aviation industry to diversify its portfolio, we face the challenge of entering a new sector with limited expertise. To ensure success, we must identify the lowest-risk aircraft for commercial and private operations. This analysis aims to evaluate aircraft risks, provide actionable insights, and guide the aviation division head in making informed purchasing decisions. 

### **1.2 Business Problem**  
To mitigate potential risks and ensure informed investment decisions, we must analyze aviation accident data to determine which aircraft have the **lowest risk levels**. This analysis will help the head of the new aviation division make data-driven decisions on aircraft selection.

### **1.3 Objectives**  

#### **Main Objectives:**  
1. **To analyze aviation accident data to identify aircraft types with the lowest risk levels.**  
2. **To provide data-driven insights that will guide the company's investment decisions in the aviation industry.**  

#### **Specific Objective:**  
- **To determine key factors contributing to aviation accidents and assess their impact on different aircraft types.**  

### **1.4 Expected Outcomes**  
By the end of this analysis, we will generate **data-driven insights** that will help the company:  
- Minimize financial and operational risks in the aviation industry.  
- Select aircraft with a strong safety record.  
- Make informed strategic decisions for commercial and private aviation operations.

## 2. Business Understanding
To provide a data-driven approach to aircraft selection, we need to analyze aviation accident data from the **National Transportation Safety Board (NTSB)**. The analysis will focus on accident trends, aircraft safety records, and risk factors to generate actionable business recommendations.

## 3. Data Understanding
The dataset contains aviation accident data from **1962 to 2023**, with 31 columns detailing various aspects of each incident. It includes information on:

- Aircraft Information: Make, model, number of engines, engine type, and whether the aircraft was amateur-built.

- Accident Details: Date, location (city/state/country), phase of flight, weather conditions, and accident severity.

- Operational Factors: Purpose of flight (e.g., personal, commercial, cargo), regulatory information (FAR description), and air carrier details.

- Injury & Damage Information: Number of fatalities, serious injuries, minor injuries, and uninjured passengers.
- Report Information: Investigation type, accident number, report status, and publication date.

To gain insights, we will:
- Load and inspect the dataset structure.
- Identify missing values and determine how to handle them.
- Explore key variables related to aircraft risk assessment.

# Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Load dataset

In [2]:
df = pd.read_csv('data/Aviation_Data.csv')
df

C:\Users\Harriet\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

# Inspect dataset structure

In [3]:
# Display first five rows
df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [4]:
# Display last 5 rows
df.tail()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
90343,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
90344,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
90346,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90347,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [5]:
# Access the column labels
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [6]:
# Access the row labels
df.index

RangeIndex(start=0, stop=90348, step=1)

In [7]:
# Check the metadata of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [8]:
# Shape of the DataFrame
df.shape

(90348, 31)

In [9]:
# Datatype of all columns in the DataFrame
df.dtypes

Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

In [10]:
# Statistical summary of the DataFrame

df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

# Data Preparation
- **Data Cleaning**

- To ensure the dataset is clean and ready for analysis, we will:
- Handle missing values appropriately
- Filter data to focus on relevant aircraft types
- Convert categorical variables where necessary
- Aggregate data to identify meaningful patterns

- **Data Transformation**

# Filter the Essential Columns for Aircraft Risk Assessment

## 1. Aircraft Information (To identify aircraft types and models)
- **Make** – Manufacturer of the aircraft (e.g., Boeing, Cessna).
- **Model** – Specific aircraft model (e.g., 737, A320).
- **Aircraft.Category** – Type of aircraft (e.g., commercial, private, cargo).
- **Number.of.Engines** – Single vs. multi-engine aircraft.
- **Engine.Type** – Type of engine (e.g., piston, turboprop, jet).

## 2. Accident Details (To assess accident frequency and severity)
- **Event.Date** – Date of the accident (to analyze trends over time).
- **Location** – Where the accident occurred (to check if location affects risk).
- **Country** – National-level trends.
- **Broad.phase.of.flight** – Phase of flight when the accident happened (e.g., takeoff, cruise, landing).
- **Injury.Severity** – Describes accident severity (e.g., fatal, minor).
- **Aircraft.damage** – Level of aircraft damage (e.g., destroyed, substantial).

## 3. Injury Data (To assess accident severity and survival rates)
- **Total.Fatal.Injuries** – Number of deaths in the accident.
- **Total.Serious.Injuries** – Number of serious injuries.
- **Total.Minor.Injuries** – Number of minor injuries.
- **Total.Uninjured** – Number of people who survived without injuries.

## 4. External Factors (To check risk factors like weather and flight purpose)
- **Weather.Condition** – Conditions during the accident (e.g., VMC = clear weather, IMC = poor visibility).
- **Purpose.of.flight** – Why the aircraft was flying (e.g., personal, commercial, cargo).

## 5. Investigation & Reporting (To track case status)
- **Report.Status** – Whether the case is still under investigation or concluded.
- **Publication.Date** – When the report was published.

In [11]:
# Filtering the essential columns
selected_columns = [
    'Make', 'Model', 'Aircraft.Category', 'Number.of.Engines', 'Engine.Type',
    'Event.Date', 'Location', 'Country', 'Broad.phase.of.flight',
    'Injury.Severity', 'Aircraft.damage', 
    'Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
    'Weather.Condition', 'Purpose.of.flight', 'Report.Status', 'Publication.Date'
]
df_filtered = df[selected_columns]

In [12]:
# Display the first five rows of the filtered DataFrame
df_filtered.head()

,Make,Model,Aircraft.Category,Number.of.Engines,Engine.Type,Event.Date,Location,Country,Broad.phase.of.flight,Injury.Severity,Aircraft.damage,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Purpose.of.flight,Report.Status,Publication.Date
0,Stinson,108-3,NaN,1.0,Reciprocating,1948-10-24,"MOOSE CREEK, ID",United States,Cruise,Fatal(2),Destroyed,2.0,0.0,0.0,0.0,UNK,Personal,Probable Cause,NaN
1,Piper,PA24-180,NaN,1.0,Reciprocating,1962-07-19,"BRIDGEPORT, CA",United States,Unknown,Fatal(4),Destroyed,4.0,0.0,0.0,0.0,UNK,Personal,Probable Cause,19-09-1996
2,Cessna,172M,NaN,1.0,Reciprocating,1974-08-30,"Saltville, VA",United States,Cruise,Fatal(3),Destroyed,3.0,NaN,NaN,NaN,IMC,Personal,Probable Cause,26-02-2007
3,Rockwell,112,NaN,1.0,Reciprocating,1977-06-19,"EUREKA, CA",United States,Cruise,Fatal(2),Destroyed,2.0,0.0,0.0,0.0,IMC,Personal,Probable Cause,12-09-2000
4,Cessna,501,NaN,NaN,NaN,1979-08-02,"Canton, OH",United States,Approach,Fatal(1),Destroyed,1.0,2.0,NaN,0.0,VMC,Personal,Probable Cause,16-04-1980

In [13]:
# check the dtypes
df_filtered.dtypes

Make                       object
Model                      object
Aircraft.Category          object
Number.of.Engines         float64
Engine.Type                object
Event.Date                 object
Location                   object
Country                    object
Broad.phase.of.flight      object
Injury.Severity            object
Aircraft.damage            object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Purpose.of.flight          object
Report.Status              object
Publication.Date           object
dtype: object

## Check if the selected columns have  missing values

In [14]:
df_filtered.isna().any()

Make                      True
Model                     True
Aircraft.Category         True
Number.of.Engines         True
Engine.Type               True
Event.Date                True
Location                  True
Country                   True
Broad.phase.of.flight     True
Injury.Severity           True
Aircraft.damage           True
Total.Fatal.Injuries      True
Total.Serious.Injuries    True
Total.Minor.Injuries      True
Total.Uninjured           True
Weather.Condition         True
Purpose.of.flight         True
Report.Status             True
Publication.Date          True
dtype: bool

In [15]:
df_filtered.isna().sum().sort_values(ascending = False)

Aircraft.Category         58061
Broad.phase.of.flight     28624
Publication.Date          16689
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Fatal.Injuries      12860
Engine.Type                8536
Report.Status              7840
Purpose.of.flight          7651
Number.of.Engines          7543
Total.Uninjured            7371
Weather.Condition          5951
Aircraft.damage            4653
Injury.Severity            2459
Country                    1685
Model                      1551
Make                       1522
Location                   1511
Event.Date                 1459
dtype: int64

## Check Missing Value Percentages
### Before deciding to drop or fill values, calculate the percentage of missing values per column:

In [16]:
percentage_missing_values = df_filtered.isna().sum() / len(df_filtered) * 100
print(percentage_missing_values.sort_values(ascending=False))

Aircraft.Category         64.263736
Broad.phase.of.flight     31.681941
Publication.Date          18.471909
Total.Serious.Injuries    15.461327
Total.Minor.Injuries      14.822686
Total.Fatal.Injuries      14.233851
Engine.Type                9.447913
Report.Status              8.677558
Purpose.of.flight          8.468367
Number.of.Engines          8.348829
Total.Uninjured            8.158454
Weather.Condition          6.586753
Aircraft.damage            5.150086
Injury.Severity            2.721698
Country                    1.865011
Model                      1.716695
Make                       1.684597
Location                   1.672422
Event.Date                 1.614867
dtype: float64

## Drop Aircraft.Category   column since more than 50% of data is missing.

In [17]:
df_filtered['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [18]:
# Drop the Aircraft.Category column and view the DataFrame
df_filtered = df_filtered.drop('Aircraft.Category', axis=1)
df_filtered

,Make,Model,Number.of.Engines,Engine.Type,Event.Date,Location,Country,Broad.phase.of.flight,Injury.Severity,Aircraft.damage,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Purpose.of.flight,Report.Status,Publication.Date
0,Stinson,108-3,1.0,Reciprocating,1948-10-24,"MOOSE CREEK, ID",United States,Cruise,Fatal(2),Destroyed,2.0,0.0,0.0,0.0,UNK,Personal,Probable Cause,NaN
1,Piper,PA24-180,1.0,Reciprocating,1962-07-19,"BRIDGEPORT, CA",United States,Unknown,Fatal(4),Destroyed,4.0,0.0,0.0,0.0,UNK,Personal,Probable Cause,19-09-1996
2,Cessna,172M,1.0,Reciprocating,1974-08-30,"Saltville, VA",United States,Cruise,Fatal(3),Destroyed,3.0,NaN,NaN,NaN,IMC,Personal,Probable Cause,26-02-2007
3,Rockwell,112,1.0,Reciprocating,1977-06-19,"EUREKA, CA",United States,Cruise,Fatal(2),Destroyed,2.0,0.0,0.0,0.0,IMC,Personal,Probable Cause,12-09-2000
4,Cessna,501,NaN,NaN,1979-08-02,"Canton, OH",United States,Approach,Fatal(1),Destroyed,1.0,2.0,NaN,0.0,VMC,Personal,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90343,PIPER,PA-28-151,NaN,NaN,2022-12-26,"Annapolis, MD",United States,NaN,Minor,NaN,0.0,1.0,0.0,0.0,NaN,Personal,NaN,29-12-2022
90344,BELLANCA,7ECA,NaN,NaN,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
90345,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,NaN,2022-12-26,"Payson, AZ",United States,NaN,Non-Fatal,Substantial,0.0,0.0,0.0,1.0,VMC,Personal,NaN,27-12-2022
90346,CESSNA,210N,NaN,NaN,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,Personal,NaN,NaN
90347,PIPER,PA-24-260,NaN,NaN,2022-12-29,"Athens, GA",United States,NaN,Minor,NaN,0.0,1.0,0.0,1.0,NaN,Personal,NaN,30-12-2022

### Fill missing values with appropriate replacements

In [19]:
# Fill missing values with appropriate replacements
df_filtered['Broad.phase.of.flight'].fillna('Unknown', inplace=True)
df_filtered['Publication.Date'].fillna('Unknown', inplace=True)
df_filtered['Engine.Type'].fillna('Unknown', inplace=True)
df_filtered['Report.Status'].fillna('Unknown', inplace=True)
df_filtered['Purpose.of.flight'].fillna('Unknown', inplace=True)
df_filtered['Weather.Condition'].fillna('Unknown', inplace=True)
df_filtered['Aircraft.damage'].fillna('Unknown', inplace=True)
df_filtered['Injury.Severity'].fillna('Unknown', inplace=True)

### Fill missing injury numbers with 0 (assuming no injuries reported)

In [20]:
# Fill missing injury numbers with 0 (assuming no injuries reported)
df_filtered[['Total.Fatal.Injuries', 'Total.Serious.Injuries',
             'Total.Minor.Injuries', 'Total.Uninjured']] = df_filtered[
    ['Total.Fatal.Injuries', 'Total.Serious.Injuries',
     'Total.Minor.Injuries', 'Total.Uninjured']].fillna(0)

### Fill missing 'Number.of.Engines' with the most common value (mode)

In [21]:
print(df_filtered['Number.of.Engines'].mode()[0])

1.0

In [22]:
# Fill missing 'Number.of.Engines' with the most common value (mode)
df_filtered['Number.of.Engines'].fillna(df_filtered['Number.of.Engines'].mode()[0], inplace=True)

### Drop rows with missing 'Make', 'Model', 'Location', 'Country', 'Event.Date'

In [23]:
# Drop rows with missing 'Make', 'Model', 'Location', 'Country', 'Event.Date'    
df_filtered.dropna(subset=['Country','Model','Make', 'Location', 'Event.Date'], inplace=True)

In [24]:
df_filtered.isna().sum()

Make                      0
Model                     0
Number.of.Engines         0
Engine.Type               0
Event.Date                0
Location                  0
Country                   0
Broad.phase.of.flight     0
Injury.Severity           0
Aircraft.damage           0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Purpose.of.flight         0
Report.Status             0
Publication.Date          0
dtype: int64

# Exploratory Data Analysis (EDA)
- **This step involves statistical summaries and visualizations to understand accident trends and aircraft risks**

## Data Overview
- **Use .info() to check data types**

- **Use .describe() to get numerical summaries**
- **Confirm that the dataset has no missing values**
- **Check unique values in categorical variables with .nunique() or .value_counts()**
- **Check if the dataset has duplicates and decide on whether to keep them or drop them**

# Investigate the Dataset

In [25]:
# Display basic information about the dataset
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88501 entries, 0 to 90347
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Make                    88501 non-null  object
 1   Model                   88501 non-null  object
 2   Number.of.Engines       88501 non-null  float64
 3   Engine.Type             88501 non-null  object
 4   Event.Date              88501 non-null  object
 5   Location                88501 non-null  object
 6   Country                 88501 non-null  object
 7   Broad.phase.of.flight   88501 non-null  object
 8   Injury.Severity         88501 non-null  object
 9   Aircraft.damage         88501 non-null  object
 10  Total.Fatal.Injuries    88501 non-null  float64
 11  Total.Serious.Injuries  88501 non-null  float64
 12  Total.Minor.Injuries    88501 non-null  float64
 13  Total.Uninjured         88501 non-null  float64
 14  Weather.Condition       88501 non-null  object
 15  Purpose.of.flight       88501 non-null  object
 16  Report.Status           88501 non-null  object
 17  Publication.Date        88501 non-null  object
dtypes: float64(5), object(13)
memory usage: 12.8+ MB

In [26]:
# Get summary statistics for numerical columns
df_filtered.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,88501.000000,88501.000000,88501.000000,88501.000000,88501.000000
mean,1.135942,0.562468,0.240099,0.308561,4.953955
std,0.431572,5.123911,1.436022,2.086090,26.951810
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [37]:
# Confirm that the dataset has no missing values
df_filtered.isna().sum()

Make                      0
Model                     0
Number.of.Engines         0
Engine.Type               0
Event.Date                0
Location                  0
Country                   0
Broad.phase.of.flight     0
Injury.Severity           0
Aircraft.damage           0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Purpose.of.flight         0
Report.Status             0
Publication.Date          0
dtype: int64

In [28]:
# Check unique values in categorical columns
for col in ['Make', 'Model', 'Engine.Type', 'Purpose.of.flight', 'Weather.Condition']:
    print(f"Value counts for {col}:\n", df_filtered[col].value_counts(), "\n")

Value counts for Make:
 Cessna           22176
Piper            11999
CESSNA            4919
Beech             4317
PIPER             2840
                 ...
Jim Mckinstry        1
Sukane               1
STAMPER              1
GOUDIE               1
Hunsberger           1
Name: Make, Length: 8219, dtype: int64

Value counts for Model:
 152                     2365
172                     1753
172N                    1161
PA-28-140                931
150                      828
                        ...
Escape LS                  1
Mini Mustang               1
WORLOCH                    1
Spencer Amphib 1-12E       1
TERN SAILPLANE             1
Name: Model, Length: 12287, dtype: int64

Value counts for Engine.Type:
 Reciprocating      69375
Unknown             9011
Turbo Shaft         3521
Turbo Prop          3378
Turbo Fan           2468
Turbo Jet            701
None                  19
Geared Turbofan       12
Electric              10
NONE                   2
LR                     2
Hybrid Rocket          1
UNK                    1
Name: Engine.Type, dtype: int64

Value counts for Purpose.of.flight:
 Personal                     49351
Unknown                      12786
Instructional                10585
Aerial Application            4710
Business                      4002
Positioning                   1627
Other Work Use                1259
Ferry                          804
Aerial Observation             785
Public Aircraft                718
Executive/corporate            549
Flight Test                    404
Skydiving                      182
External Load                  123
Public Aircraft - Federal      104
Banner Tow                     101
Air Race show                   99
Public Aircraft - Local         74
Public Aircraft - State         64
Air Race/show                   59
Glider Tow                      53
Firefighting                    40
Air Drop                        11
ASHO                             6
PUBS                             4
PUBL                             1
Name: Purpose.of.flight, dtype: int64

Value counts for Weather.Condition:
 VMC        77030
IMC         5956
Unknown     4430
UNK          823
Unk          262
Name: Weather.Condition, dtype: int64

In [35]:
# Check if the dataset has duplicates
df_filtered.duplicated().value_counts()

False    88471
True        30
dtype: int64

In [29]:
# Filter the dataframe to see the duplicate
duplicates = df_filtered[df_filtered.duplicated()]
duplicates

,Make,Model,Number.of.Engines,Engine.Type,Event.Date,Location,Country,Broad.phase.of.flight,Injury.Severity,Aircraft.damage,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Purpose.of.flight,Report.Status,Publication.Date
1371,Cessna,172,1.0,Reciprocating,1982-05-28,"EVANSVILLE, IN",United States,Cruise,Non-Fatal,Substantial,0.0,0.0,0.0,7.0,VMC,Personal,Probable Cause,28-05-1983
3082,Bell,206B,1.0,Turbo Shaft,1982-10-18,GULF OF MEXICO,GULF OF MEXICO,Cruise,Fatal(3),Destroyed,3.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,18-10-1983
4761,Schempp-hirth,STANDARD CIRRUS,1.0,Unknown,1983-05-22,"BRIDGEPORT, CA",United States,Cruise,Fatal(1),Substantial,1.0,0.0,0.0,1.0,VMC,Unknown,Probable Cause,Unknown
7941,Cessna,172P,1.0,Reciprocating,1984-04-13,"DELAND, FL",United States,Taxi,Non-Fatal,Substantial,0.0,0.0,0.0,2.0,VMC,Instructional,Probable Cause,Unknown
8661,Snow,AT400,1.0,Turbo Prop,1984-06-18,"PORTLAND, AR",United States,Landing,Non-Fatal,Substantial,0.0,0.0,0.0,2.0,VMC,Aerial Application,Probable Cause,Unknown
13532,Bell,206L-1,1.0,Turbo Shaft,1985-11-30,"SAN PEDRO, CA",United States,Approach,Fatal(1),Destroyed,1.0,4.0,7.0,0.0,VMC,Unknown,Probable Cause,Unknown
19820,Boeing,737,2.0,Turbo Fan,1988-03-10,"GREENSBORO, NC",United States,Maneuvering,Incident,Unknown,0.0,0.0,0.0,159.0,VMC,Unknown,Probable Cause,18-07-1990
21077,Douglas,DC-9-51,2.0,Turbo Fan,1988-08-05,"ATLANTA, GA",United States,Taxi,Incident,Minor,0.0,0.0,0.0,199.0,UNK,Unknown,Probable Cause,25-01-1990
22453,Mcdonnell Douglas,DC-9-82,2.0,Turbo Fan,1989-03-01,"HOUSTON, TX",United States,Approach,Incident,Unknown,0.0,0.0,0.0,185.0,IMC,Unknown,Probable Cause,30-06-1992
24878,Mitsubishi,MU-2B-35,2.0,Turbo Prop,1990-02-09,"TETERBORO, NJ",United States,Taxi,Non-Fatal,Substantial,0.0,0.0,0.0,2.0,VMC,Unknown,Probable Cause,08-12-1992
26868,Cessna,152,1.0,Reciprocating,1990-10-20,"KENT, OH",United States,Approach,Non-Fatal,Substantial,0.0,0.0,0.0,2.0,VMC,Instructional,Probable Cause,12-03-1993
27496,Boeing,A75,1.0,Reciprocating,1991-03-02,"MARANA, AZ",United States,Maneuvering,Non-Fatal,Substantial,0.0,0.0,0.0,3.0,VMC,Other Work Use,Probable Cause,31-03-1993
27811,Ercoupe (eng & Research Corp.),415-C,1.0,Reciprocating,1991-04-19,"SANTA ROSA, NM",United States,Climb,Non-Fatal,Substantial,0.0,0.0,1.0,1.0,VMC,Personal,Probable Cause,13-07-1993
28706,Aero Commander,500B,2.0,Reciprocating,1991-07-31,"SILICA, KS",United States,Maneuvering,Fatal(2),Destroyed,2.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,31-03-1993
30247,Cessna,152,1.0,Reciprocating,1992-04-23,"BRANSON, MO",United States,Cruise,Non-Fatal,Substantial,0.0,1.0,1.0,2.0,VMC,Personal,Probable Cause,26-07-1993
34847,Globe,9C-1B,1.0,Reciprocating,1994-04-10,"OKEECHOBEE, FL",United States,Maneuvering,Non-Fatal,Substantial,0.0,0.0,0.0,2.0,VMC,Unknown,Probable Cause,03-01-1995
35076,Robinson,R22-B,1.0,Reciprocating,1994-05-19,"STOCKTON, CA",United States,Standing,Non-Fatal,Substantial,0.0,0.0,1.0,1.0,VMC,Other Work Use,Probable Cause,19-12-1994
39138,Cessna,337,1.0,Unknown,1996-02-24,"Havana, Cuba",Cuba,Unknown,Fatal(4),Destroyed,4.0,0.0,0.0,0.0,VMC,Other Work Use,Foreign,Unknown
43728,Boeing,A-75N1,1.0,Reciprocating,1998-04-19,"KISSIMMEE, FL",United States,Maneuvering,Fatal(2),Destroyed,2.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,15-02-2001
45738,Cessna,172R,1.0,Reciprocating,1999-03-10,"BATTLE CREEK, MI",United States,Landing,Non-Fatal,Substantial,0.0,0.0,0.0,1.0,VMC,Instructional,Probable Cause,13-10-2000
48463,Avions Mudry Et Cie,CAP 10B,1.0,Reciprocating,2000-05-27,"BUNNELL, FL",United States,Maneuvering,Fatal(2),Destroyed,2.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,17-07-2001
51386,Grumman,TS-2A,2.0,Reciprocating,2001-08-27,"Hopland, CA",United States,Maneuvering,Fatal(2),Destroyed,2.0,0.0,0.0,0.0,VMC,Public Aircraft,Probable Cause,13-09-2005
57380,American Champion (acac),8KCAB,1.0,Reciprocating,2004-08-28,"Prescott, AZ",United States,Maneuvering,Fatal(2),Destroyed,2.0,0.0,0.0,0.0,VMC,Personal,Probable Cause,25-04-2007
58650,Boeing,737-322,2.0,Turbo Fan,2005-05-17,"Denver, CO",United States,Taxi,Incident,Minor,0.0,0.0,0.0,187.0,VMC,Unknown,Probable Cause,27-10-2005
62369,Robinson,R22 Beta,1.0,Reciprocating,2007-04-21,"VAN HORN, TX",United States,Standing,Non-Fatal,Substantial,0.0,0.0,0.0,4.0,VMC,Instructional,Probable Cause,30-08-2007
63043,Eurocopter,AS350-B2,1.0,Turbo Shaft,2007-07-27,"Phoenix, AZ",United States,Maneuvering,Fatal(4),Destroyed,4.0,0.0,0.0,0.0,VMC,Other Work Use,Probable Cause,03-03-2009
63296,North American,SNJ-2,1.0,Reciprocating,2007-09-02,"FARMINGDALE, NY",United States,Taxi,Non-Fatal,Substantial,0.0,0.0,0.0,2.0,VMC,Other Work Use,Probable Cause,28-05-2008
78431,BOEING,737,1.0,Unknown,2016-03-20,"Cusco, Peru",Peru,Unknown,Unknown,Minor,0.0,0.0,0.0,0.0,Unknown,Unknown,Unknown,25-09-2020
89830,BOEING,A75N1,1.0,Unknown,2022-08-20,"Bealeton, VA",United States,Unknown,Minor,Substantial,0.0,2.0,0.0,2.0,VMC,Business,Unknown,27-09-2022
89982,BOEING,787,1.0,Unknown,2022-09-14,"Mumbai,",India,Unknown,Unknown,Unknown,0.0,0.0,0.0,0.0,Unknown,Unknown,Unknown,Unknown

# Decided to keep the duplicates